<!DOCTYPE html>
<html>
<head>
  <title>MicroFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<% if notice.present? %>
  <p id="notice", class="card-panel indigo lighten-3 center"><%= notice %></p>
<% end %>
<div class="container">
  <%= yield %>
</div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
